# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# Build outputs
build/
cpp/build/

# VS / CMake
*.vcxproj*
*.sln
*.tlog
*.lastbuildstate
*.filters
*.cmake
CMakeFiles/

# OS
.DS_Store
Thumbs.db
